<mat-card class="login-page">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email"
               required
               ngModel #email="ngModel"
               placeholder="Email">

      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password"
               required
               ngModel #password="ngModel"
               placeholder="Password">

      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login(loginForm)">
        Login
      </button>

    </form>
    <mat-card-footer>
      <mat-card-content>

        <div class="form-val">
          {{ email.valid + ' ' + loginForm.valid}}
        </div>
      </mat-card-content>
    </mat-card-footer>

  </mat-card-content>
</mat-card>
